<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.5.1.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/general-methods.js"></script>
    <script type="text/javascript" src="/javascripts/miAccount.js"></script>
</head>

<body onload="initLoad('<%=idEmpresa%>','<%=correoAdmin%>')">
   
    <%- include('navbar.ejs') %>
    <div class="jumbotron m-5">
        
                <div class="row justify-content-center ">

                    <div class="col-sm-4 col-sm-auto col-md-auto">
                        <div class="row align-items-center justify-content-center my-5">
                            <div class="col-sm-auto">
                                <div class="row align-items-center justify-content-center mb-3" >
                                    <img id="imagen" src="<%=ruta%>empresa/image/<%=idEmpresa%>" alt="Tu imagen" style="width: 250px;
                                    height: 250px;"/>
                                    
                                    <br>
                                    
                                </div>
                                <div class="row align-items-center justify-content-center mb-3" >
                                    <input type="file"  id="imgInp" hidden/>
                                    <button type="button" class="btn btn-info" id="cargarfoto" >Editar Foto</button>
                            
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-sm-6 pt-5 pl-5 col-sm-auto col-md-auto">
                        <label class="mb-0">Empresa</label>
                        <!--Insertar el nombre de la empresa-->
                        <p>
                            <h2 class="pl-4 mt-0" id="nombreEmpresaTitulo"><%=nombre%></h2>
                        </p>
                        <label>Datos de la empresa</label>
                        <form id="formEmpresa">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" id="nombre" style="border: 1px solid black;" 
                                    value="<%=nombre%>" required >
                                <!--Insertar el nombre de la empresa-->
                            </div>
                            <div class="form-group">
                                <label>Correo Electronico:</label>
                                <input type="text" class="form-control" id="correo" style="border: 1px solid black;" 
                                    value="<%=correo%>"required>
                                <!--Insertar el correo de la empresa-->
                            </div>
                            <div class="form-group">
                                <label>Telefono:</label>
                                <input type="text" class="form-control" id="telefono" style="border: 1px solid black;" 
                                    value="<%=telefono%>" required>
                                <!--Insertar el telefono de la empresa-->
                            </div>

                        <div class="form-group">
                            <label>Direccion:</label>
                            <input type="text" class="form-control" id="direccion" style="border: 1px solid black;" 
                            value="<%=direccion%>"readonly>
                            <!-- <input type="text" class="form-control" id="latitud" style="border: 1px solid black;" 
                            value = "<%=latitud%>" hidden>
                            <input type="text" class="form-control" id="longitud" style="border: 1px solid black;" 
                            value = "<%=longitud%>" hidden> -->
                        </div>
                        <p>Elija su nueva ubicacion en el mapa</p>
                        <div class="row align-items-center justify-content-center">
                            <!--Por padre te entendi aqui peor con todo esta donde estaba en la version origianl comentado :D-->
                            <input type="text" class="form-control" id="latitud" style="border: 1px solid black;" 
                            value = "<%=latitud%>" hidden>
                            <input type="text" class="form-control" id="longitud" style="border: 1px solid black;" 
                            value = "<%=longitud%>" hidden>
                            <div class="col-sm-auto col-auto col-md-auto" >
                                <iframe src="<%=home%>registrar/forChoose" id="frameUbicacion" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                
                            </div>
                        </div>
                        
                            <label>Categoria:</label>
                            <div class="row mb-5">
                                <div class="col-sm-auto">
                                    <div class="row pb-5 pl-4">
            
                                        <div class="form-group" >
                                            <select id="selectCategorias" class="custom-select" style="width: 300px; border: 1px solid black; border-radius: 12px;">
                                                <% for(var i=0; i < categorias.length; i++) { %>
                                                    <option href="<%=categorias[i].id_categoria%>"
                                                        <%if (i == (categoria-1)){%> selected="true"<%}%> >
                                                        <%=categorias[i].nombre%></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row align-items-center justify-content-center pb-5">
                                <div class="col-auto col-md-auto pb-3">
                                    <button type="button" class="btn btn-info" onclick="javascript:window.location.href = 'micuenta/mivitrina'">Ir a mi Vitrina</button>
                                </div>
                                <div class="col-auto col-md-auto pb-3">
                                    <button type="button" class="btn btn-info" onclick="guardar()">Guardar Cambios</button>
                                </div>
                                <div class="col-auto col-md-auto pb-3">
                                    <input type="button" class="btn btn-info" onclick="javascript:window.open('administradores','','width=900,height=600,left=50,top=50,toolbar=yes');" value="Administradores"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    <%- include('footer.ejs') %>

</body>

</html>